body {
    max-width: 700px;
    margin: auto;
  }

  #container {
    max-width: 700px;
  }

  .chartdest {
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
  }

  code {
    color: white;
    background-color: rgb(73, 73, 73);
    padding-left: 3px;
    padding-right: 3px;
  }

a.myButton {
    border: 2px solid black;
    background-color: rgb(73, 73, 73);
    color: #ffffff;
    text-decoration: none;
    margin : 0px 0px 10px 10px;
    padding: 5px 10px 5px 10px;
    /* display: block; */
}
a.myButton:hover {
    border: 2px solid rgb(73, 73, 73);
    background-color: dimgrey;
}